<script>
  $(function(){
    $.validator.addMethod("isemail",function(val,elem){
      reg = new RegExp("[^\s]+@[^\s]+", 'i');
      return this.optional(elem) || reg.test(val);
    });
    $("#passwordResetsform").validate({
      rules : {
        "password_reset[email]": {
          required: true,
          maxlength: 255,
          isemail: true
        }
      },
      messages: {
        "password_reset[email]": {
          required: "※メールアドレスは必須項目です。入力をお願いします。",
          maxlength: "※メールアドレスは100文字以内で入力してください。",
          isemail: "※メールアドレスを正しい型式で入力してください。"
        }
      }
    });
  });
</script>

<% provide(:title, "パスワード再設定") %>
<h1>パスワード再設定</h1>

<div class="row">
  <div class="col-md-6 col-md-offset-3">
    <%= form_with(url: password_resets_path, id: :passwordResetsform,
        scope: :password_reset, local: true) do |f| %>
      <div class="passwordResets_email">
        <%= f.label :email ,"メールアドレス" %>
        <%= f.text_field :email %>
      </div>
      <%= f.submit "送信", class: "btn submit_btn" %>
    <% end %>
  </div>
</div>