<script>
// マーカー用のデータを取得
const data = [
  <% @shops.each do |shop| %>
    <% if shop.latitude && shop.longitude %>
      <% @shopwin = (render partial: "shop", locals:{shop: shop}).gsub(/(\r\n|\r|\n)/, "\\n") %>
      <%= "{ shopInfo: \'#{@shopwin}\', lat: #{shop.latitude}, lng: #{shop.longitude} },".html_safe %>
    <% end %>
  <% end %>
];

let map

function initMap(){

  map = new google.maps.Map(document.getElementById('map'), {
    maxZoom: 15,
    zoom: 15,
    gestureHandling: 'greedy',
  });

    // 現在表示されているinfoWindowオブジェクト
  let currentWindow;

  data.map(d => {
    // マーカーをつける
    const marker = new google.maps.Marker({
      position: {lat: parseFloat(d.lat), lng: parseFloat(d.lng)},
      map: map
    });

    // マーカークリックしたら地名をポップアップさせる
    marker.addListener('click', () => {
      currentWindow && currentWindow.close();
      const infoWindow = new google.maps.InfoWindow({content: d.shopInfo});
      infoWindow.open(map, marker);
      currentWindow = infoWindow;
    });
  });


// マーカーがいい感じに表示できるよう調整
map.fitBounds(new google.maps.LatLngBounds(
  // sw
  {
    lat: Math.min(...data.map(d => d.lat)),
    lng: Math.min(...data.map(d => d.lng))
  },
  // ne
  {
    lat: Math.max(...data.map(d => d.lat)),
    lng: Math.max(...data.map(d => d.lng))
  }
));
}

</script>
<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDzZIPZF0Uch20mSuje8gzNVh2MYViAHlM&callback=initMap" async defer></script>

<% provide(:title, "地図検索") %>
<% breadcrumb :map %>

<%= render partial: "result" %>

<div id='map'></div>