
$border_color: #ffe9c7;

/* home */

.home {
  display: flex;
  justify-content: space-between;
}

.home_left {
  display: flex;
  flex-direction: column;
  width: 70%;
}

.home_left_review {
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
}

.home_left_review_shop {
  display: flex;
  width: 32%;
  position: relative;
  background-color: #fffcdf;
  border-radius: 5px;

  a.wrap {
    position: absolute;
    top: 0;
    left: 0;
    height:100%;
    width: 100%;
  }
  
  a:hover{/* マウスオーバー時に色変更*/
    opacity: 0.4;
    background-color: #fff;
  }
}

.home_left_review_shop_right {
  display: flex;
  flex-direction: column;
  padding: 5px;
}

.home_left_review_shop_left_img img {
  width: 100px; height: 100px;
  object-fit: cover;
  border-radius: 5px 0px 0px 5px;
}

.home_left_area {
  display: flex;
  flex-direction: column;
  border: 1px $border_color solid;
  border-radius: 5px;
  padding: 20px; 
}

.home_left_area_many {
  display: flex;
  flex-wrap:wrap;
}

.home_left_area_few {
  margin: 10px 0px;
  padding-left: 5px;
  overflow: hidden;
  li{
    position: relative;
    padding-left: 10px;
    list-style-type:none;
    width: 25%;
    float: left;
  }
 
  li:before {
    content: "";
    position: absolute;
    top: .35em;
    left: 0;
    width: 0;
    height: 0;
    border-width: 5px;
    border-style: solid;
    border-color: transparent transparent transparent #c76204;
  }
}

.home_left_area_many_item {
  font-weight: bold;
  font-size: 1.3em;
  padding: 10px 10px;
  margin: 5px;
  border: 1px $border_color solid;
  border-radius: 5px;
  box-shadow: 0px 0px 2px 1px rgba(255, 233, 199, 0.5); 
  a {
    color: #000;
  }
}

.home_left_type {
  display: flex;
  flex-direction: column;
}

.home_left_type_mamy {
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
}

.home_left_type_mamy_item {
  position: relative;
  width: 19%;
  img {
    z-index: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    filter: brightness(70%);
  }
  span {
    z-index: 1;
    font-size: 1.2em;
    font-weight: bold;
    color: #fff;
    position: absolute;
    top: 80%;
    left: 50%;
    transform: translate(-50%,-50%);
    margin:0;
    padding:0;
  }
  a.wrap {
    z-index: 2;
    position: absolute;
    top: 0;
    left: 0;
    height:100%;
    width: 100%;
  }
  
  a:hover{/* マウスオーバー時に色変更*/
    opacity: 0.4;
    background-color: #fff;
  }
}

.home_left_type_few {
  display: flex;
  flex-wrap: wrap;
}

.home_right {
  display: flex;
  flex-direction: column;
  width: 25%;
}

.home_right_count {
  display: flex;
  padding: 30px;
  text-align: center;
}

.home_right_count_shops {
  display: flex;
  flex-direction: column;
  justify-content: center;
  border-right: 1px $border_color solid;
  width: 100%;
}

.home_right_count_posts {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
}

.home_right_count_shops_num,.home_right_count_posts_num {
  font-weight: 500;
  font-size: 2.0em;
}

.home_right_profile {
  display: flex;
  flex-direction: column;
  padding: 15px;
  border: 15px $border_color solid;
}

.home_right_profile_head {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-bottom: 15px;
  position: relative;
  a.wrap {
    position: absolute;
    top: 0;
    left: 0;
    height:100%;
    width: 100%;
  }
  
  a:hover{/* マウスオーバー時に色変更*/
    opacity: 0.4;
    background-color: #fff;
  }
}

.home_right_profile_head_name {
  font-size: 1.3em;
  vertical-align: middle;
}

.home_right_profile_head_icon img {
  width: 80px; height: 80px;
  object-fit: cover;
  margin: 10px;
  border-radius: 10px;
}

.home_right_profile_posts,.home_right_profile_shops {
  display: flex;
  justify-content: space-between;
  border-top: 1px $border_color dashed;
  padding: 15px 0px;
  width:100% ;
}

.caption_home {
  font-size: 1.5em;
  font-weight: bold;
  margin: 20px 0px;
} 


.home_left_type_few {
  display: flex;
  flex-wrap:wrap;
  text-align: center;
}

.home_left_type_few_tag {
  position: relative;
  padding: 2px 10px 2px 10px;
  margin: 5px 10px 5px 0px;
  font-weight: normal;
  border-radius: 5px;
  border: 1px solid #611f00;
  background-color: #fff;
  white-space: nowrap;
  cursor: pointer;
  user-select: none;
  transition: background-color .2s, box-shadow .2s;
  a {
    color: #000;
  }
}