.members_list {
  display: flex;
  flex-direction: column;
  position: relative;
}

.members_contents {
  display: flex;
}

.members_contents_left {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.members_contents_right {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-left: 10px;
}

.members_delete {
  text-align: right;
}

.postList_member_left {
  max-width: 500px;
}


.sign_up_btn {
  background: #356bff;
  color: white;
  &:hover {
    color: #356bff;
    background: #8aa9ff;
  }
}

.login_btn {
  background: #90d411;
  color: white;
  &:hover {
    color: #6de200;
    background: #baffb1;
  }
}

.test_login_btn {
  background: #11c920;
  color: white;
  &:hover {
    color: #00e257;
    background: #b1ffc2;
  }
}



.search_dtl_btn {
  width: 150px;
  padding: 6px 10px;
  margin: 0 0px;
  background: #ffb342;
  color: white;
  border-radius: 0px;
  border: #ffb342 1px solid;
  cursor: pointer;
  &:hover {
    color: #945900;
    background: #fac99c;
    border: #fac99c 1px solid;
  }
}