<li>
  <div class="member_icon">
    <%= link_to member.image.attached? ? image_tag(member.image) : image_tag("default_member.png")  ,postlistMember_path(member) %>
  </div>
  <%= link_to member.name, postlistMember_path(member) %>
  <% if current_member.admin? && !current_member?(member) %>
    | <%= link_to "削除", member, method: :delete,
                                  data: { confirm: "削除しますか？" } %>
  <% end %>
</li>